.container {
    display: flex;
    justify-content: center;
}

/* .playlists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em;
    justify-content: space-around;
    align-items: flex-start;
} */

.playlists {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1em;
}

.playlist {
    text-decoration: none;
    color: black;
}

.playlist:hover {
    background-color: green;
    color: white;
}