.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.playlists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em;
    justify-content: space-around;
    align-items: flex-start;
}

/* .playlists {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1em;
} */

.playlist {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.playlist:hover {
    background-color: green;
    color: white;
}

.current {
    padding: 1em;
}

.track {
    cursor: pointer;
    margin: 1em 0;
}

.track:hover {
    color: green;
    text-decoration: underline;
}